.menu {
  @apply h-full fixed;
  flex: 0 1;
  width: 290px;
  background-color: #1e1e2d;

  img {
    @apply w-full py-10;
  }

  .list-item {
    height: 42px;
    @apply w-full bg-purple-500 grid;
  }
}

a {
  @apply w-full font-sans text-sm font-sans;

  p {
    @apply px-3;
  }
}

button {
  @apply text-white w-full py-4 px-7 flex;
  text-align: left;
  align-items: center;

  &:hover {
    @apply bg-orange-300;
  }
}
