.menu {
  @apply bg-gray-800 h-full fixed;
  flex: 0 1;
  width: 290px;

  img {
    @apply w-full py-10;
  }

  .list-item {
    height: 42px;
    @apply w-full bg-purple-500 grid;
  }
}

a {
  @apply w-full font-sans text-sm font-bold;

  p {
    @apply px-5;
  }
}

button {
  @apply text-white w-full py-4 px-7 flex;
  text-align: left;

  &:hover {
    @apply bg-orange-300;
  }
}
