<div class="menu">
  <img src="assets/Logo2.png" alt="Logo">

  <a [routerLink]="'admin/dashboard'">
    <button>
      <mat-icon>dashboard</mat-icon>
      <p>Заказы</p>
    </button>
  </a>

  <a [routerLink]="'admin/fileManager'">
    <button>
      <mat-icon>folder</mat-icon>
      <p>Файлы</p>
    </button>
  </a>

  <a [routerLink]="'admin/conditioners'">
    <button>
      <mat-icon>shopping cart</mat-icon>
      <p>Кондиционеры</p>
    </button>
  </a>

  <a [routerLink]="'/admin/services'">
    <button>
      <mat-icon>settings</mat-icon>
      <p>Услуги</p>
    </button>
  </a>

  <a [routerLink]="'/admin/services_groups'">
    <button>
      <mat-icon>settings</mat-icon>
      <p>Группы услуг</p>
    </button>
  </a>

  <a [routerLink]="'/admin/industrial_refrigeration_units'">
    <button>
      <mat-icon>settings</mat-icon>
      <p>Промхолод</p>
    </button>
  </a>

  <a [routerLink]="'/admin/clients'">
    <button>
      <mat-icon>people</mat-icon>
      <p>Клиенты</p>
    </button>
  </a>

  <a [routerLink]="'/admin/manufacturers'">
    <button>
      <mat-icon>people</mat-icon>
      <p>Производители (dev)</p>
    </button>
  </a>

  <a [routerLink]="'/admin/conditioners_types'">
    <button>
      <mat-icon>people</mat-icon>
      <p>Типы кондиционеров (dev)</p>
    </button>
  </a>

  <a [routerLink]="'/admin/control_types'">
    <button>
      <mat-icon>people</mat-icon>
      <p>Типы управления (dev)</p>
    </button>
  </a>

  <a [routerLink]="'/admin/freons'">
    <button>
      <mat-icon>people</mat-icon>
      <p>Типы фреона (dev)</p>
    </button>
  </a>

</div>
