<div class="footer-body">
  <div class="main-content">
    <div class="padding">

      <div class="info">

        <div class="links-block">
          <h3>Информация</h3>

          <a routerLink="/"><p>О нас</p></a>
          <a routerLink="/"><p>Прием платежей</p></a>
          <a routerLink="/"><p>Услуги</p></a>
        </div>

        <div class="schedule-block">
          <h3>Расписание</h3>

          <p>Будние дни</p>
          <p>9:00 - 20:00</p>
        </div>

        <div class="contacts-block">
          <h3>Наши контакты</h3>
          <p>+7 (978) 039 87 94 </p>
          <p>dcodedlife@gmail.com</p>
        </div>

      </div>

      <div class="hr"></div>

      <div class="placement-block">
        <p>295021 г. Симферополь, проезд Альминский 30/5 <br>
          Время работы с 9.00 до 22.00 <br>
          В торговом реестре с 31 декабря 2022 года <br>
          ИП Швец Ю. А. УНП 000000000 выдано крымским городским исполнительным комитетом 21 декабря 2022 года</p>
        <p>Интернет-магазин климатической техники и товаров для дома © 2022 </p>
      </div>
    </div>
  </div>
</div>
