<app-button
  title="Обновить"
  icon="add"
  (triggered)="updateObject()"
></app-button>
<div *ngFor="let item of fields; index as i">
  <app-inputbox
    *ngIf="item.display_type == 'string' || item.display_type == 'float' || item.display_type == 'number'"
    [placeholder]="item.title"
    [digits]="item.display_type == 'float' || item.display_type == 'number'"
    (edited)="update($event, i)"
    [value]="object[ item.article ]"
  ></app-inputbox>
  <app-checkbox
    *ngIf="item.display_type == 'checkbox'"
    [placeholder]="item.title"
    [toggled]="object[ item.article ]"
    (changed)="update($event, i)"
  ></app-checkbox>
  <app-combobox
    *ngIf="item.display_type == 'combobox'"
    [placeholder]="item.title"
    [objectsList]="item.list_items"
    [value]="object[ item.article ]"
    (changed)="update(item.list_items.indexOf($event), i)"
  ></app-combobox>
</div>
