<h3 *ngIf="saleFields.length == 0 && productCart.length == 0">
  Загрузка данных
</h3>
<div *ngIf="saleFields.length > 0 && productCart.length > 0">
  <div class="flex">
    <app-button
      class="px-2"
      title="Обновить"
      type="submit"
      (triggered)="updateSale()"
      icon="edit"
    ></app-button>
    <app-button
      class="px-2"
      title="Закрыть"
      type="submit"
      icon="checked"
      (triggered)="closeReceipt()"
    ></app-button>
  </div>
  <app-fieldsbox
    [fields]="saleFields"
    [object]="saleObject"
    (fieldsUpdated)="saleFields = $event"
  ></app-fieldsbox>

  <div class="w-full">
    <app-combobox
      placeholder="Товар или услуга"
      [objectsList]="arrayByKey(allProducts, 'title')"
      (indexSelected)="selectedItem = allProducts[ $event ]"
    ></app-combobox>
    <app-button
      title="Добавить"
      type="submit"
      icon="add"
      (triggered)="addProduct()"
    ></app-button>
  </div>
</div>

<app-tableview
  (itemsUpdated)="updateCart($event)"
></app-tableview>
