<div class="body">

  <div class="block">

    <div style="display: flex; flex-direction: row;">
      <h1 class="category">
        Кондиционеры
      </h1>
      <div class="center-in mobile-filter">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="32px" viewBox="0 0 24 24" width="32px" fill="#00000"><g><path d="M0,0h24 M24,24H0" fill="none"/><path d="M7,6h10l-5.01,6.3L7,6z M4.25,5.61C6.27,8.2,10,13,10,13v6c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-6 c0,0,3.72-4.8,5.74-7.39C20.25,4.95,19.78,4,18.95,4H5.04C4.21,4,3.74,4.95,4.25,5.61z"/><path d="M0,0h24v24H0V0z" fill="none"/></g></svg>
      </div>
    </div>

    <div class="main-content">
      <app-filters
        *ngIf="productsList.length > 1"
        [products]="productsList"
        (filtered)="applyFilters($event)"
      ></app-filters>

      <div *ngIf="isLoading">
        <h2 class="category">
          Loading content...
        </h2>
      </div>

      <div *ngIf="pagesContent.length == 0 && !isLoading">
        <h2 class="category">
          Не найдено
        </h2>
      </div>

      <div>
        <div class="products">
          <app-product
            *ngFor="let item of pagesContent[selectedPage]"
            [product]="item"
            (cardEvent)="addToCard(item)"
          >
          </app-product>
        </div>

        <div
          *ngIf="pagesContent.length > 0 && !isLoading"
          class="pages-counter"
        >
          <h3>Страницы: </h3>
          <div>
            <h3
              class="page-item"
              [ngClass]="{'selected':  selectedPage == i}"
              *ngFor="let number of pagesContent; index as i"
              (click)="selectedPage = i"
            >{{ i + 1 }}</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
