<div class="body">
  <div class="block">
    <h1>
      Корзина
    </h1>
    <div class="content">
      <div class="registration">
        <h2>
          Данные клиента
        </h2>
        <div class="input-box"><input [(ngModel)]="clientName" placeholder="ФИО"></div>
        <div class="input-box"><input [(ngModel)]="clientEmail" placeholder="Email"></div>
        <div class="input-box"><input [(ngModel)]="phoneNumber" placeholder="Номер телефона"></div>
        <div
          class="button"
          (click)="checkout()"
        ><h3>Оформить заказ</h3></div>
      </div>

      <app-tableview
        class="table"
        (itemsUpdated)="updateCart($event)"
      ></app-tableview>
    </div>
  </div>

</div>
