<div class="buttons-row">
  <app-button
    title="Добавить"
    icon="add"
    type="link"
    [link]="'../add/' + objectName"
  ></app-button>
  <app-button
    title="Импорт из Exel"
    icon="insert_drive_file"
    type="file"
    extensions="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    (fileSelected)="importFromExel($event)"
  ></app-button>
</div>

<app-listbox
  [fields]="fields"
  [listItems]="objects"
  [filtered]="objects"
  [searchTerm]="headerService.searchTerm"
  (onEdit)="editObject($event)"
></app-listbox>
<h3 *ngIf="objects.length == 0">
  Загрузка данных
</h3>
